body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  --nav-width: 400px;
  color: grey;
  background-color: pink;
}
#navbar {
  color: blue;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: var(--nav-width);
  background-color: red;
  border-right: solid 2px;
}
#sidebar-logo {
  justify-self: center;
  align-self: center;
  max-width: 200px;
  height: 200px;
  background-color: blue;
}
#nav-header {
  text-align: center;
  color: gold;
  font-size: 30px;
  line-height: 30px;
  background-color: lightgray;
}
#nav-menu {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: blue;
}
#navbar li {
  width: 1fr;
  font-size: 20px;
  line-height: 30px;
  padding: 30px 20px 30px 20px;
  border-top: solid 1px;
  background-color: green;
  text-align: center;
}
#navbar li:hover {
  animation-name: hover-menu;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  background-color: yellow;
}

@keyframes hover-menu {
  0% {
    background-color: black;
    color: grey;
  }
  100% {
    background-color: grey;
    color: black;
  }
}

#navbar a {
  text-decoration: none;
  color: grey;
}

main {
  margin-left: var(--nav-width);
  width: auto;
  padding: 20px;
  background-color: darkred;
}

#main-doc header {
  padding: 0px;
  height: 100vh;
  background-color: pink;
}

#header-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  background-color: red;
}

#title-1 {
  font-size: 100px;
  margin: 5px 5px 0px 5px;
}
#title-2 {
  font-size: 100px;
  margin: 5px 5px 0px 5px;
}
#subtitle {
  font-size: 60px;
  margin: 5px 5px 5px 5px;
  line-height: 60px;
}
.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: 100px;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
