body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  --nav-width: 400px;
  color: gray;
  background-image: 
    linear-gradient(
      to bottom,
      black, 
      #332503,
      black
    );
}

ul {
  list-style-type: none;
   }

#navbar {
  color: #332503;
  justify-content: center;
  padding-top: 40px;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: var(--nav-width);
  background-color: black;
}

#sidebar-logo {
  justify-self: center;
  align-self: center;
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 3px DarkGoldenRod;
}
#sidebar_logo_img {
  width: 100%;
  border-radius: 50%;
}

#nav-header {
  text-align: center;
  font-size: 30px;
  line-height: 15px;
  padding: 10px;
}
#nav-header a {
  text-decoration: none;
  display: block;
  color: DarkGoldenRod;
}
#nav-header a:hover {
  text-decoration: none;
  display: block;
  color: gray;
}

#nav-menu {
  width: 100%;
  padding: 0px;
  padding-top: 1px;
  margin: 0px;
  background-image: 
    linear-gradient(
      to right,
      black, 
      #332503,
      black
    );
}
#nav-menu li {
  width: 100%;
  font-size: 20px;
  line-height: 80px;
  margin-bottom: 1px;
  background-color: black;
  text-align: center;
}
#nav-menu li:hover {
  animation-name: hover-menu;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#nav-menu a {
  text-decoration: none;
  display: block;
  color: grey;
}
#nav-menu a:hover {
  text-decoration: none;
  color: black;
}

@keyframes hover-menu {
  0% {
    background-color: black;
  }
  100% {
    background-color: gray;
  }
}

main {
  margin-left: var(--nav-width);
  width: auto;
  text-align: center;
  font-size: 20px;
  line-height: 40px;;
  background-color: rgb(50,10,50);
}

#main-doc header {
  height: 100vh;
  padding-left: 1px;
    background-image: 
    linear-gradient(
      to bottom,
      black, 
      #332503,
      black
    );
}
#header-text {
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  background-color: black;
}
#title-1 {
  font-size: 50px;
  margin: 10px;
}
#title-2 {
  font-size: 40px;
  margin: 10px;
}
#title-3 {
  font-size: 30px;
  margin: 10px;
}

.section {
  min-height: 100vh;
  padding-top: 1px;
  padding-left: 1px;
    background-image: 
    radial-gradient(
      black, 
      #332503,
      black
    );
}

.section-div {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  background-color: black;
}
.subtitle {
  font-size: 50px;
  margin: 10px;
  margin-top: 60px;
}

.project-image {
  max-height: 150px;
  max-width: 200px;
  padding: 20px;
  vertical-align: middle;
}
p {
 margin: 10px;
}
